body
{
/*	background-color: #FFFFCC; */
/*	background-color: white;   */
	counter-reset: number02;
	counter-reset: number03;
	counter-reset: number04;
}

h2
{
	counter-increment: number02;
	counter-reset: number03;
	counter-reset: number04;
}
h2:before
{
	content: counter(number02) ". ";
}
h3
{
	counter-increment: number03;
	counter-reset: number04;
}
h3:before
{
	content: counter(number02) "-" counter(number03) ". ";
}
h4
{
	counter-increment: number04;
}
h4:before
{
	content: counter(number02) "-" counter(number03) "-" counter(number04) ". ";
}

h1, h2, h3, h4
{
	font-weight: bold;
	line-height: 1;
	color: inherit;
/*	background-color: #99ff00; */
	background-color: skyblue;
	padding: 0.2em 0.2em 0.2em 0.5em;
/*	border-color: #f28; */
	border-color: blue;
}

h1
{
	font-size: 1.5em;
	border-style: solid none solid none;
/*	border-style: solid none solid none; */
	border-width: 4px;
}

h2
{
	font-size: 1.2em;
	margin-top: 2em;
	border-style: solid none solid none;
	border-width: 2px;
}

h3
{
	font-size: 1em;
	margin-top: 1.5em;
	border-style: none none none none;
	border-width: 2px;
}

h4
{
	background-color: white;
	border-style: solid none solid none;
	border-width: 2px;
}

table, td, th {
	border: black solid thin;
}

pre
{
	margin-left: 2em;
	border-width: 3px;
	border-style: solid;
	border-color: activeborder;
	background-color: green;
	color: white;
	width: 100%;
	overflow: auto;
	
	/* Mozilla */
	white-space: -moz-pre-wrap;
	/* Opera 4-6 */
	white-space: -pre-wrap;
	/* Opera 7 */
	white-space: -o-pre-wrap;
	/* CSS3 */
	white-space: pre-wrap;
	/* IE 5.5+ */
	word-wrap: break-word;
}

img
{
	max-width: 90% ;
	height: auto ;
}

strong
{
/*	text-decoration: overline underline; */
	color: red;
}

pre strong
{
	color: yellow;
}

.index
{
	text-align: center;
}

/*
code
{
	background: yellow;
}
*/

.video{
	position:relative;
	width:100%;
	padding-top:56.25%;
}
.video iframe{
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
